[package]
name = "hello_user_program"
version = "0.1.0"
edition = "2021"

[dependencies]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[[bin]]
name = "hello"
path = "src/main.rs"
test = false
bench = false
